@define-color bg #24273a;
@define-color fg #c6d075;
@define-color sel #8caaee;
@define-color text #c6d0f5;
@define-color base #24273a;
@define-color border #c6d0f5;

window {
    background-color: @bg;
}
entry {
    border-radius: 12px;
    padding: 8px 10px;
}
listview row {
    padding: 6px 10px;
    border-radius: 10px;
}
listview row:selected {
    background-color: @sel;
    color: @fg;
}


